<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>7ADFB2EB-6BCF-4F89-BFAD-A67785DE0AFC.playgroundpage</string>
		<string>E684021B-CB29-48D4-A5C4-F27B56F1D654.playgroundpage</string>
		<string>E1BFEDEF-7894-4697-A024-DC7497103E85.playgroundpage</string>
	</array>
</dict>
</plist>
